@font-face {
    font-family: 'arlon';
    src: url('../font/arlon-regular-webfont.woff2') format('woff2'), url('assets/font/arlon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tomkin';
    src: url('../font/Tomkin-Regular.woff2') format('woff2'), url('assets/font/Tomkin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.form-group {
    font-family: 'tomkin' !important;
}

button.btn.btn-danger {
    font-family: 'tomkin' !important;
}

#welcomevideo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: auto !important;
    z-index: -1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.kuula {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.iframe-full,
.ku-embed {
    width: 100%;
    height: 100vh;
    border: none;
    z-index: 1;
}

@media screen and (orientation:portrait) {
    .ku-embed {
        height: 100vh !important;
        width: 100vw !important;
    }
}

@media screen and (orientation:landscape) {
    .ku-embed {
        height: 100vh !important;
        width: 100vw !important;
    }
}

.fixed-bottom {
    margin: 0px 30px 0px 30px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 0px 5px #e6e7e8;
    margin-bottom: -10px;
    position: absolute !important;
}

button {
    position: relative;
    z-index: 999;
    background-color: unset;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 18px;
    left: 0;
    margin: 2em auto;
    padding: 50px 50px;
    right: 0;
    top: 0;
    border-radius: 50px;
}

button:focus {
    outline: 0 !important;
}

li.nav-item {
    background-color: #cbcbcb;
    background-image: linear-gradient(#cbcbcb, #f4f4f4 70%);
    margin-right: 5px;
    border-radius: 15px 15px 0px 0px;
    font-family: 'arlon';
    color: #212020;
}

li.nav-item:hover {
    box-shadow: 0 0 0 0.0625em #cbcbcb;
    background: linear-gradient(#b2b2b2, #f4f4f4) content-box, radial-gradient(#ededed, rgba(222, 222, 222, 0)) 50% 100% / 80% 0.125em no-repeat border-box, linear-gradient(#f4f4f4, #c9c9c9) border-box;
}

li.nav-item.active {
    box-shadow: 0 0 0 0.0625em #cbcbcb;
    background: linear-gradient(#b2b2b2, #f4f4f4) content-box, radial-gradient(#ededed, rgba(222, 222, 222, 0)) 50% 100% / 80% 0.125em no-repeat border-box, linear-gradient(#f4f4f4, #c9c9c9) border-box;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'arlon';
    color: #212020;
    text-align: center;
}

#menu .menu-link {
    position: absolute;
    z-index: 100;
    left: 72rem;
    top: 15px;
    width: 200px;
}

@media (max-width: 1440px) {
    #menu {
        margin-top: 0px;
    }
}

@media (max-width: 440px) {
    #menu {
        width: 320px;
        margin-top: 0px;
    }
    #menu .menu-link {
        left: 16rem;
        top: 15px;
        width: 170px;
    }
    .bg-light {
        background-color: transparent !important;
    }
    li.nav-item {
        line-height: 30px !important;
    }
    li.nav-item {
        background-color: #cbcbcb;
        background-image: linear-gradient(#cbcbcb, #f4f4f4 70%);
        margin-right: 5px;
        border-radius: 15px 15px 15px 15px;
        margin-bottom: 10px;
        font-family: 'arlon';
        color: #212020;
    }
    .fixed-bottom {
        margin: unset;
        -webkit-border-radius: unset;
        border-radius: unset;
        box-shadow: unset;
    }
    .navbar-toggler {
        background-color: #e6e7e8;
        border: 1px solid #e6e7e8;
    }
    #shop {
        position: fixed;
        bottom: 5px !important;
        right: 45px !important;
    }
    img.buy-btn {
        width: 130px !important;
    }
    form.needs-validation.bg-register-form.m-t-50 {
        margin-top: -150px;
    }
    form.needs-validation.bg-register-form.m-t-50 {
        margin-top: -150px;
        position: relative;
        left: 30px;
    }
}

img.icononframe {
    width: 50px !important;
}

.container-product {
    position: fixed;
    background-image: url('../images/bg_product.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.product {
    width: 100%;
    height: 100vh;
    border: none;
}

.product iframe {
    position: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    background: url("../../assets/images/tv.png")center center no-repeat;
    background-size: contain;
    /* on modal */
    padding: 0.5% 5.8% 5.6%;
    /* padding: 0.5% 12.8% 4.8%; */
    /* on modal */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#shop {
    position: fixed;
    bottom: 25px;
    right: 60px;
    z-index: 100;
}

img.buy-btn {
    width: 130px !important;
}


/* new games */

.bg-games {
    position: fixed;
    background-image: url('../images/bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.content-games {
    margin-left: 40px;
    margin-right: 40px;
}

.btn-danger {
    color: #d26b6f;
    background-color: #f7c7c7;
    border-color: #f7c7c7;
    box-shadow: none;
    border-radius: 0 !important;
}

.btn-danger:hover {
    color: #f7c7c7;
    background-color: #d26b6f;
    border-color: #f7c7c7;
    box-shadow: none;
    border-radius: 0 !important;
}

::placeholder {
    text-transform: uppercase;
    color: #ef4951 !important;
}


/* frame shoppe */

.container-live {
    position: fixed;
    background-image: url('../images/frame.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.live {
    position: absolute;
    padding: 14.9% 5.9% 5.6%;
    left: 0px;
    top: 0px;
    z-index: -1;
}


/* popup close */

.modal-header {
    display: unset !important;
    -ms-flex-align: unset !important;
    align-items: unset !important;
    -ms-flex-pack: unset !important;
    justify-content: unset !important;
    padding: unset !important;
    border-bottom: unset !important;
    border-top-left-radius: unset !important;
    position: absolute !important;
    top: 0.5rem !important;
    left: 45rem !important;
    border-top-right-radius: unset !important;
}

.modal-header .close,
.modal-header .mailbox-attachment-close {
    padding: 1rem !important;
    margin: -1rem -1rem -1rem auto !important;
    font-size: 50px !important;
    color: #ef4951 !important;
}


/* new games */

.bg-games {
    position: fixed;
    background-image: url('../images/bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.content-games {
    margin-left: 40px;
    margin-right: 40px;
}

.btn-danger {
    color: #d26b6f;
    background-color: #f7c7c7;
    border-color: #f7c7c7;
    box-shadow: none;
    border-radius: 0 !important;
}

.btn-danger:hover {
    color: #f7c7c7;
    background-color: #d26b6f;
    border-color: #f7c7c7;
    box-shadow: none;
    border-radius: 0 !important;
}

::placeholder {
    text-transform: uppercase;
    color: #ef4951 !important;
}


/* Ikin 20210123*/


/* navbar */

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #dcdfe2;
}

.main-header {
    border-bottom: 0px solid #dee2e6;
    z-index: 1034;
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: rgba(255, 255, 255, .1);
    color: #292626;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: #575e6b;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
    color: #111215;
}


/* Product Visitor Chart */

#product_category {
    height: 450px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

input[type="number"] {
    min-width: 50px;
}


/* gamse */

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 25px 70px 20px 20px;
}

.bg-pop {
    position: fixed;
    background-image: url('../images/bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

img.img-fluid.game-reg {
    width: 80%;
    position: absolute;
    top: -5rem;
    left: 6rem;
}

.bg-register-form {
    background-image: url("../../assets/images/games/bg-form-register.png");
    background-repeat: no-repeat;
    background-size: 300px 200px;
}

.bg-play-game {
    background-image: url("../../assets/images/games/bg-play-game.png");
    background-repeat: no-repeat;
    background-size: 400px 430px;
}

.games-success {
    background-image: url("../../assets/images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.games-failed {
    background-image: url("../../assets/images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.set-padding-top {
    padding-top: 150px;
}

.set-padding {
    padding: 40px;
}

.set-margin-button {
    margin-top: -40px;
    margin-right: 55px;
}

.set-play-top {
    padding-top: 30px;
}

.set-play-padding {
    padding-top: 40px;
}

.set-success-top,
.set-failed-top {
    padding-top: 110px;
}

.set-success-button {
    margin-top: -70px;
}

.set-failed-button {
    margin-top: -90px;
}


/* Feddback */

.bg-feedback {
    position: fixed;
    background-image: url('../images/bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.content-feedback {
    margin-left: 120px;
    margin-right: 80px;
}

.set-feedback-form-top {
    padding-top: 20px;
}

.set-top-form {
    margin-top: -90px;
}

.set-question-top {
    padding-top: 50px;
}

.set-margin-button-feedback {
    margin-top: -40px;
    margin-right: 40px;
}

.bg-question-form {
    /* background-image: url("../../assets/images/feedback/bg-question.png"); */
    background-repeat: no-repeat;
    background-size: 500px 250px;
}

.bg-thanks {
    /* background-image: url("../../assets/images/feedback/thanks.png"); */
    background-repeat: no-repeat;
    background-size: 500px 250px;
}

.card-feedback {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 25px;
}

.label-feedback {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.label-feedback-product {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.label-feedback-q8 {
    font-size: 18px;
    color: #fff;
}

.label-feedback {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.label-feedback-product {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.title-question {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.btn-feedback {
    margin-top: -20px;
}

.btn-feedback-note {
    margin-top: -50px;
}

.btn-feedback-thanks {
    margin-top: -50px;
}

.btn-feedback {
    margin-top: -20px;
}

.btn-feedback-note {
    margin-top: -50px;
}

.btn-feedback-thanks {
    margin-top: -50px;
}


/*Nav Admin*/

.main-header .navbar-nav .nav-item .top-item {
    margin: 0;
}

.navbar-expand .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.main-header .navbar-nav .nav-item .top-item {
    margin: 0;
}

.nav-sidebar>.top-item {
    margin-bottom: 0;
}

.nav-sidebar .top-item>.nav-link {
    position: relative;
}

li.top-item {
    font-family: 'arlon';
    color: #212020;
    text-align: left;
}

.nav-sidebar .menu-open>.nav-link i.right {
    -webkit-transform: rotate( -90deg);
    transform: rotate( -90deg);
}

.nav-sidebar .top-item>.nav-link .right {
    transition: -webkit-transform ease-in-out .3s;
    transition: transform ease-in-out .3s;
    transition: transform ease-in-out .3s, -webkit-transform ease-in-out .3s;
}

.nav-sidebar .nav-link>.right,
.nav-sidebar .nav-link>p>.right {
    position: absolute;
    right: 1rem;
    top: .7rem;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    padding-left: 10px;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    padding-right: 10px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

.framemobile {
    background-color: #000000;
}

.bg-game {
    position: fixed;
    background-image: url('../images/bg_games.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 100vh;
}


/* ==========================================================================
   MEDIA
   ========================================================================== */

@media (min-width: 1200px) {
    .container {
        max-width: 980px;
    }
}

@media (max-width: 576px) {
    .set-padding {
        padding: 0px;
    }
    .set-padding-top {
        padding-top: 100px;
    }
    .bg-register-form {
        background-image: url("../../assets/images/games/bg-form-register.png");
        background-repeat: no-repeat;
        background-size: 350px 350px;
    }
    .set-margin-button {
        margin-top: -30px !important;
        margin-right: 55px !important;
    }
}