@font-face {
    font-family: 'arlon';
    src: url('../font/arlon-regular-webfont.woff2') format('woff2'), url('assets/font/arlon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ku-embed {
    height: 100vh !important;
    width: 100vw !important;
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (orientation:portrait) {
    .ku-embed {
        height: 100vh !important;
        width: 100vw !important;
    }
}

@media screen and (orientation:landscape) {
    .ku-embed {
        height: 100vh !important;
        width: 100vw !important;
    }
}

#welcomevideo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: auto !important;
    z-index: -1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.fixed-bottom {
    margin: 0px 30px 0px 30px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 0px 5px #e6e7e8;
}

button {
    position: relative;
    z-index: 999;
    background-color: unset;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 18px;
    left: 0;
    margin: 2em auto;
    padding: 50px 50px;
    right: 0;
    top: 0;
    border-radius: 50px;
}

button:focus {
    outline: 0 !important;
}

.access-ecommerce {
    position: absolute;
    top: 24rem;
    left: 56rem;
    z-index: 100;
}

img.buy {
    height: 130px !important;
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .access-ecommerce {
        top: 25rem;
        left: 60rem;
    }
    img.buy {
        height: 130px !important;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .access-ecommerce {
        top: 24rem;
        left: 56rem;
    }
    img.buy {
        height: 130px !important;
    }
}


/* navbar */

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #dcdfe2;
}

.main-header {
    border-bottom: 0px solid #dee2e6;
    z-index: 1034;
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: rgba(255, 255, 255, .1);
    color: #292626;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: #575e6b;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
    color: #111215;
}

ul.navbar-nav {
    margin: -3px -15px -10px -12px;
}

li.nav-item-main {
    background-color: #c8c7c7;
    background-image: linear-gradient(#c8c7c7, #e6e7e8 80%);
    margin-right: 5px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 0px 50px 0px #e6e7e8;
    font-family: 'arlon';
    color: #212020;
    text-align: center;
}

li.nav-item-main:hover {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

li.nav-item-main.active {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'arlon';
    color: #212020;
    text-align: center;
}

.frame-tv {
    position: fixed;
    background-image: url('../images/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh !important;
    width: 100vw !important;
    top: 0;
    left: 0;
}

.frame-tv iframe {
    box-sizing: border-box;
    background: url('../images/tv.png') center center no-repeat;
    background-size: contain;
    padding: 0.5% 16.6% 3.8%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .frame-tv iframe {
        background-size: contain;
        padding: 0.5% 13.5% 5%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

button.btn.btn-light.btn-buy {
    position: fixed;
    top: 25rem;
    left: 44rem;
    height: 50px;
    width: 135px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000000;
}

a.btn.btn-light.btn-buy {
    position: fixed;
    top: 27rem;
    left: 58rem;
    height: 50px;
    width: 135px;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    box-shadow: 0px 0px 10px #000000;
}


/* Modal */

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}