@font-face {
    font-family: 'arlon';
    src: url('../font/arlon-regular-webfont.woff2') format('woff2'), url('assets/font/arlon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.welcomeWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: auto !important;
    z-index: -1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.welcomeWrapper iframe {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: auto !important;
    z-index: -1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 640px !important;
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .welcomeWrapper iframe {
        height: 950px !important;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .welcomeWrapper iframe {
        height: 800px !important;
    }
}

@media screen and (min-width: 1920px) {
    /* //For Projectors or Higher Resolution Screens (Full HD) */
    .welcomeWrapper iframe {
        height: 800px !important;
    }
}

@media screen and (min-width: 3840px) {
    /* //For 4K Displays (Ultra HD) */
    .welcomeWrapper iframe {
        height: 2160px !important;
    }
}

.fixed-bottom {
    margin: 0px 30px 0px 30px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 0px 5px #e6e7e8;
}

button {
    position: relative;
    z-index: 999;
    background-color: unset;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 18px;
    left: 0;
    margin: 2em auto;
    padding: 50px 50px;
    right: 0;
    top: 0;
    border-radius: 50px;
}

button:focus {
    outline: 0 !important;
}

ul.navbar-nav {
    margin: -3px -15px -10px -12px;
}

li.nav-item {
    background-color: #c8c7c7;
    background-image: linear-gradient(#c8c7c7, #e6e7e8 80%);
    margin-right: 5px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 0px 50px 0px #e6e7e8;
    font-family: 'arlon';
    color: #212020;
    text-align: center;
}

li.nav-item:hover {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

li.nav-item.active {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'arlon';
    color: #212020;
    text-align: center;
}

.frame-tv {
    position: fixed;
    background-image: url('../images/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 90%;
}

.frame-tv iframe {
    box-sizing: border-box;
    background: url('../images/tv.png') center center no-repeat;
    background-size: contain;
    padding: 0.5% 16.6% 3.8%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button.btn.btn-light.btn-buy {
    position: fixed;
    top: 25rem;
    left: 44rem;
    height: 50px;
    width: 135px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000000;
}

a.btn.btn-light.btn-buy {
    position: fixed;
    top: 27rem;
    left: 58rem;
    height: 50px;
    width: 135px;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    box-shadow: 0px 0px 10px #000000;
}